/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
/*    background-color: #e7f0f3;*/

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
  font-family: 'theplacetoubib';
  src: url('../font/theplacetoubib.eot?12442230');
  src: url('../font/theplacetoubib.eot?12442230#iefix') format('embedded-opentype'),
       url('../font/theplacetoubib.woff?12442230') format('woff'),
       url('../font/theplacetoubib.ttf?12442230') format('truetype'),
       url('../font/theplacetoubib.svg?12442230#theplacetoubib') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "theplacetoubib";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  color:#FFF;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

.icon-niv2_nombre:before { content: '\e800'; }
.icon-niv2_nbpatients:before { content: '\e801'; }
.icon-niv2_plus60:before { content: '\e802'; }
.icon-niv2_revenumoyen:before { content: '\e803'; }
.icon-niv2_prixconsultation:before { content: '\e804'; }
.icon-niv2_tempsacces:before { content: '\e805'; }
.icon-niv3_dentiste:before { content: '\e806'; }
.icon-niv3_gyneco:before { content: '\e807'; }
.icon-niv3_infirmier:before { content: '\e808'; }
.icon-niv3_ophtalmo:before { content: '\e809'; }
.icon-niv3_medecin:before { content: '\e80a'; }
.icon-close:before { content: '\e80b'; }
.icon-info:before { content: '\e80c'; }
.icon-logo:before { content: '\e80d'; }
.icon-loupe:before { content: '\e80e'; }
.icon-niv1_hopitaux:before { content: '\e80f'; }
.icon-niv1_praticiens:before { content: '\e810'; }
.icon-niv2_agemoyen:before { content: '\e811'; }
.icon-niv1_habitants:before { content: '\e812'; }
.icon-source:before { content: '\e813'; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body,html{
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Arimo', sans-serif;
}

/* ==========================================================================
   Splashscreen
   ========================================================================== */



.splashscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7f1f3;
    color:#6f9298;
    font:69.5%;
    z-index: 10;
}
section.splashscreen{
    background-color: #e7f1f3;
    font:700 17px 'Arimo' sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;


}
section.splashscreen canvas{
    position:absolute;
    z-index:0;
    left:22%;
}
section.splashscreen .presentation{
    z-index: 999999;
    position: absolute;
    display: block;
    left: 22%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55%;
    background-color: transparent;
    background-image:url(../img/backgroundSplash.png); 
    background-size: auto 100%; 
    background-position:center;
        background-repeat:no-repeat; 


}
section.splashscreen h1{
    text-transform: uppercase;
    font-size: 31px;
    background: url('../img/logoSplash.png') no-repeat;
    background-size: 230px;
    background-position: 50%;
    padding-top: 245px;
    margin-bottom: 65px;
}
    section.splashscreen h1 span{
        color: #e05161;
    }
    section.splashscreen h1::after{
        display: block;
        content: '';
        background: #6f9298;

        width: 40px;
        height: 3px;

        left: 50%;
        position: absolute;
        margin-top: 25px;
    }

section.splashscreen p{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 45px;
}

section.splashscreen a{
    text-decoration: none;
    text-transform: uppercase;
    color: #6f9298;
    border: 4px solid #6f9298;
    padding:6px 9px;
        -webkit-transition: 1s all ;
    -moz-transition: 1s all ;
    -o-transition: 1s all ;
    transition: 1s all ;
}
    section.splashscreen a:hover{
    -webkit-transition: .5s all ;
    -moz-transition: .5s all ;
    -o-transition: .5s all ;
    transition: .5s all ;
        background-color: #6f9298;
        color:#fff;
    }


.departement {
    cursor: pointer;
}
.departement:hover {
    stroke: white;
    stroke-width: .5px;
}
.departement.active{
    fill:#44B4FF;
    stroke: white;
    stroke-width: 1px;
}
#paris{
    display: none;
}

 /*Nav -Styles */

nav{
    display: inline-block;
    width:70px;
    height: 100%; /* fallback */
    height: 100vh;
    background-color: #63b1be;
    list-style: none;
    float:left;
}

nav ul{
    list-style: none;
    margin:0;
    padding:0;
}
nav ul.open{
    display:block;
}
nav li{
    height: 65px;
    float: left;
    border-bottom: 1px solid #51919b;
}
nav li:hover{
    background-color: #82c1cb;
    }

nav span{
    margin-top: 22px;
}
nav a{
    line-height:65px;
    margin:0;
    display: block;
    height: 100%;
    text-align: center;
    vertical-align:middle;
    width: 70px;
}
nav a,
nav a:active,
nav a:focus{
    ouline:none;
    -moz-outline-style: none;
}
nav ul ul li{
    background-color: #51919b;
}

menu, ol, ul{
    padding: 0;
}
.secondLevel{
    display: none;
}
#menu li.active{
    background-color: #89c3cd;
}
#menu .thirdLevel li.active{
    background:none;
}

.thirdLevel{
    position:absolute;
    display: inline-block;
    float:left;
    width:70px;
    left: 90px;
    top:203px;

}

.thirdLevel li{
    list-style-type: none;
    padding-bottom: 41px;
    background:none;
}


.thirdLevel [class^="icon-"]:before, [class*=" icon-"]:before {
    color:#858a8b;
}

.thirdLevel li a.selected [class^="icon-"]:before, [class*=" icon-"]:before {
    color:#89c3cd;
}

#logo{
    background-color: black;
    background-image: url(../img/logoNav.png);
    background-repeat: no-repeat;
    background-size: 55%; 
    background-position: 50% 50%; 
}

#container{
    float: left;
    width: 100%;
    background-color: #e7f0f3;
}
.content{
    margin:60px;
}
.text-center {
  text-align: center;
}
/*Left Side Style*/
#leftSide{
    float: left;
    width: 50%;
    padding: 0px 0 0 50px;
    margin: 0 0 0 0;
    background-image:url(../img/backgroundLeftSide.png); 
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
}

#leftSide #map svg{
    position:absolute;
    top:0;
}

/*Right Side Style*/
#rightSide{
    float: right;
    width: 45%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    display: inline;
    background-color: #1f1e1e;
    color: white;
}
#rightSide p{
    color: white;

}
#rightSide h2 {
    font-weight: 400;

}
#rightSide h3 {
    font-weight: 400;
    color: #888888;

}
.col2{
    width:50%;
    float: left;

}

.col2 p{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

#rightSide footer{
    display: inline;
    height: 55px;
    width: 100%;
    background-color:#1d1c1c;
    position:absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;

}
 #rightSide footer a{
    text-decoration: none;
    color:white;
    line-height: 55px;
    padding-right: 30px;
    text-align: right;
 }

 #rightSide footer a:hover{
    color:#63b1be;
 }

/* Tooltip -Styles */
.tooltip {
    margin-top: 35px;
    margin-left: 75px;
    padding: 5px;
    font-size: 14px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    background-repeat: no-repeat;
    background-image: url(../img/tooltip.gif);
}
.tooltip-inner {
    padding: 10px 15px;
    width: auto;
    pointer-events: none;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
/*
.tooltip-bottom {
background-position: top center;
}
.tooltip-top {
background-position: bottom center;
}
.tooltip-left {
background-position: right center;
}*/
.tooltip-right {
    background-position: left center;
}

#infoFiltre{
    position:relative;
    clear:both;
}

.tooltipCSS{
    position:absolute;
    right:0;top:0;
    color:#f3f3f3;
    font-size:0.875em;
}
.tooltipCSS > i {
    position:relative;
}
.tooltipCSS i:hover{
    cursor:pointer;
}
.tooltipCSS i+div:hover,
.tooltipCSS i:hover+div{
    opacity:1;
    visibility:visible;
}
.tooltipCSS > div{
    opacity:0;
    visibility:hidden;
    position:absolute;
    right:45px;top:-48px;
    padding:22px;
    min-width:180px;
    background:#282828;
    -webkit-transition:all 300ms linear;
    -moz-transition:all 300ms linear;
    -ms-transition:all 300ms linear;
    transition:all 300ms linear;
}
.tooltipCSS > div:after{
    content:"";
    position:absolute;
    top: 50%;
    right:-13px;
    width:15px;
    height:15px;
    background:#282828;
    -webkit-transform:rotate(45deg) translateX(-50%);
    -moz-transform:rotate(45deg) translateX(-50%);
    -ms-transform:rotate(45deg) translateX(-50%);
    transform:rotate(45deg) translateX(-50%);
}

.tooltipCSS div h5{
    margin:0;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:10px;
}
.tooltipCSS div p{
    margin:0;
}
.tooltipCSS div p a{
    color:#979696;
    text-decoration:none;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


