<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id="container">

        <script type="text/template" id="menu_niveau1_2_template">
            <nav>
                <ul>
                    <li id="logo"><a href="#"><i class="icon-logo"></i></a></li>
                    <li class="firstLevel">
                        <span title="Habitants" class="right">
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                <i class="icon-niv1_habitants"></i><img src="img/fleche.png">
                            </a>
                        </span>
                    </li>
                        <ul class="secondLevel <%= menu[0] %>" data-has-sub-lvl="no">
                            <li>
                                <span title="Nombre d’habitants de + de 60 ans" class="right">
                                    <a href="#/filtre/nb_habitants_plus_60_ans<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="pie" data-url="NbHab60Plus"><i class="icon-niv2_plus60"></i></a>
                                </span>
                            </li>
                            <li>
                                <span title="Revenu moyen / habitants" class="right">
                                    <a href="#/filtre/revenu_moyen_par_habitant<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="loader" data-url="RevenuMoyHab"><i class="icon-niv2_revenumoyen"></i></a>
                                </span>
                            </li>
                            <li>
                                <span title="Temps d’accès médecins généralistes" class="right">
                                    <a href="#/filtre/temps_acces_medecin_generaliste<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="bar" data-url="TpsAccesMedecin"><i class="icon-niv2_tempsacces"></i></a>
                                </span>
                            </li>
                        </ul>
                    <li class="firstLevel">
                        <span title="Praticiens de santé" class="right">
                            <a href="#" ><i class="icon-niv1_praticiens"></i><img src="img/fleche.png"></a>
                        </span>
                    </li>
                        <ul class="secondLevel <%= menu[1] %>" data-has-sub-lvl="yes">
                            <li class="prefiltre" data-prefiltre="nombre"><span title="Nombres" class="right"><a href="#"><i class="icon-niv2_nombre"></i></a></span></li>
                            <li class="prefiltre" data-prefiltre="age_moyen"><span title="Age moyen" class="right"><a href="#"><i class="icon-niv2_agemoyen"></i></a></span></li>
                            <li class="prefiltre" data-prefiltre="prix_moyen_consultation"><span title="Prix Moyen de la consultation" class="right"><a href="#"><i class="icon-niv2_prixconsultation"></i></a></span></li>
                            <li class="prefiltre" data-prefiltre="nombre_patients_par"><span title="Nombre de patients par praticiens" class="right"><a href="#"><i class="icon-niv2_nbpatients"></i></a></span></li>
                        </ul>
                    <li><span title="Hôpitaux" class="right"><a href="#/filtre/hopitaux<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv1_hopitaux"></i></a></span></li>
                </ul>
            </nav>

        </script>

        <script type="text/template" id="menu_niveau3_template">

            <div class="thirdLevel <%= menu[2] %>">
                <ul class="hidden">
                    <li><span title="Médecins généralistes" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>generaliste<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv3_medecin"></i></a></span></li>
                    <li><span title="Gynécologues" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>gynecologue<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv3_gyneco"></i></a></span></li>
                    <li><span title="Dentistes" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>dentiste<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv3_dentiste"></i></a></span></li>
                    <li><span title="Ophtalmologues" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>ophtalmologue<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv3_ophtalmo"></i></a></span></li>
                    <li><span title="Infirmiers" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>infirmier<%= dept == null ? "" : "/dept_"+dept %>"><i class="icon-niv3_infirmier"></i></a></span></li>
                </ul>
            </div>

        </script>

        <div id="menu">
            <div></div>
            <div></div>
        </div>       




        <section id="leftSide">
            <div class="content">
                <h2 class="text-center">Nombre de médecins généraliste</h2>
                <div id="map"></div>
                <div id="info-dep"></div>
            </div>
        </section>

        <section id="rightSide">
            <div class="tuto">
                

            </div>
            <div class="content">
                <h2 class="dept text-center">
                    Saône et Loire
                </h2>
                <div id="chiffreDept" class="col2 text-center">
                    <h3>Département</h3>
                    <p>523</p>
                </div>
                <div id="chiffreFrance" class="col2 text-center">
                    <h3>Moyenne Française</h3>
                    <p>1026</p>
                </div>
                <div id="infoFiltre">
                    <p>Evolution du nombre de médecins</p>
                </div>

                <footer>
                    <a href="#">Dictionnaire</a>
                    <a href="#">Crédits</a>
                    <a href="#">?</a>
                </footer>
            </div>
        </section>
    </div>


        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src='js/vendor/jquery.tooltip.js'></script> 
        <script src='js/vendor/jquery.countTo.js'></script> 
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/d3.js"></script>    
        <script src="js/app.js"></script>


        <script src="//localhost:35729/livereload.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
