<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Place Toubib - Datavizualisation sur l'accès aux soins en France</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

   <div class="splashscreen">
        <section class="splashscreen">
            <div class="presentation">
              <img src="img/logotuto.svg">
              <p>The Place Toubib a pour ambition de mettre l’accent sur un fait de plus en plus répandu de nos jours : La présence de déserts médicaux en France ainsi que d’inégalités quant à l’accès aux soins.</br>
              Par le biais d’un système de visualisation de données, nous tâcherons de mettre en évidence - de manière objective - quelles sont les zones les plus concernées par ce fait.</p>
              <a href="#/tutoriel">Démarrer l'expérience</a>
            </div>
            <canvas></canvas>
        </section>
    </div> 

    <section class="tuto" style="display:none">
        <div class="tutoLeftSide">
            <div class="tutoContent">
                <div class="tutoFirstStep">
                    <h1>01.</h1>
                    <P>Choisissez une catégorie</P>
                </div>
                <div class="tutoSecondStep hidden">
                    <h1>02.</h1>
                    <P>Choisissez les données que vous souhaitez connaitre</P>
                </div>
                <div class="tutoThirdStep hidden">
                    <h1>03.</h1>
                    <P>Choisissez pour quelle praticien vous souhaitez afficher ces données</P>
                </div>
            </div>
            <a href="#/accueil">Passer le tutoriel</a>
        </div>
        <div class="tutoRightSide">
        </div>
    </section>


<!--     <section id="credits">
      <div class="credits">
        <h2 class="title_credits">Le projet</h2>
        <p class="after_line">The Place Toubib’ est un projet scolaire axé sur la datavizualisation et conçu par des étudiants d’HETIC.
La majorité des données utilisées proviennent du site ecosante.fr et datent de 2013. Certaines sont également issues de l’INSEE et du Conseil National des Médecins, tandis que d’autres ont été calculées directement par nos soins, comme le prix moyen d’une consultation ou le nombre d’habitants pour un praticien.</p>
        <h2 class="title_credits">L'équipe</h2>
        <ul class="role_credits after_line">
            <li><span class="name_credits">Audrey Turquand</span> - Chef de projet / UI Designer</li>
            <li><span class="name_credits">Augustin Menou</span> - UX designer / UI designer</li>
            <li><span class="name_credits">Alexandre Guérard</span> - Statisticien / Front-end développeur</li>
            <li><span class="name_credits">Audrey Chauprade</span> - Statisticien / Front-end développeur</li>
            <li><span class="name_credits">Florent Grandval</span> - Back-end développeur</li>
            <li><span class="name_credits">Sylvain Mroczko</span> - Back-end développeur</li>
        </ul>
        <h2 class="title_credits">Nous contacter</h2>
        <p class="after_line">contact@theplacetoubib.fr</p>
        <p class="phone">06 80 77 76 63</p>
    </div>
  </section>
 -->
    <div id="container">

        <script type="text/template" id="menu_niveau1_2_template">
            <nav>
                <ul>
                    <li id="logo"><a href="#/accueil"></a></li>
                    <li class="firstLevel">
                        <span title="Habitants" class="right">
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                <i class="icon-niv1_habitants"></i><img src="img/fleche.png">
                            </a>
                        </span>
                    </li>
                        <ul class="secondLevel <%= menu[0] %>" data-has-sub-lvl="no">
                            <li>
                                <span title="Nombre d’habitants de + de 60 ans" class="right">
                                    <a href="#/filtre/nb_habitants_plus_60_ans<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="pie" data-info-json="Nb_hab_plus_60_ans"><i class="icon-niv2_plus60"></i></a>
                                </span>
                            </li>
                            <li>
                                <span title="Revenu moyen / habitants" class="right">
                                    <a href="#/filtre/revenu_moyen_par_habitant<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="loader" data-info-json="Revenus_moyen_nets_par_mois"><i class="icon-niv2_revenumoyen"></i></a>
                                </span>
                            </li>
                            <li>
                                <span title="Temps d’accès médecins généralistes" class="right">
                                    <a href="#/filtre/temps_acces_medecin_generaliste<%= dept == null ? "" : "/dept_"+dept %>" data-chart-type="bar" data-info-json="Temps_acces_medecin"><i class="icon-niv2_tempsacces"></i></a>
                                </span>
                            </li>
                        </ul>
                    <li class="firstLevel">
                        <span title="Praticiens de santé" class="right">
                            <a href="#" ><i class="icon-niv1_praticiens"></i><img src="img/fleche.png"></a>
                        </span>
                    </li>
                        <ul class="secondLevel <%= menu[1] %>" data-has-sub-lvl="yes">
                            <li class="prefiltre <%= prefiltreEtat[0] != "" ? "active" : "" %>" data-prefiltre="nombre" data-prefixe="Nb_"><span title="Nombres" class="right"><a href="#"><i class="icon-niv2_nombre"></i></a></span></li>
                            <li class="prefiltre <%= prefiltreEtat[1] != "" ? "active" : "" %>" data-prefiltre="age_moyen" data-prefixe="Age_moyen_"><span title="Age moyen" class="right"><a href="#"><i class="icon-niv2_agemoyen"></i></a></span></li>
                            <li class="prefiltre <%= prefiltreEtat[2] != "" ? "active" : "" %>" data-prefiltre="prix_moyen_consultation" data-prefixe="Prix_moyen_consultation_"><span title="Prix Moyen de la consultation" class="right"><a href="#"><i class="icon-niv2_prixconsultation"></i></a></span></li>
                            <li class="prefiltre <%= prefiltreEtat[3] != "" ? "active" : "" %>" data-prefiltre="nombre_patients_par" data-prefixe="Nb_hab_par_"><span title="Nombre de patients par praticiens" class="right"><a href="#"><i class="icon-niv2_nbpatients"></i></a></span></li>
                        </ul>
                    <li><span title="Hôpitaux" class="right"><a href="#/filtre/hopitaux<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="Nb_hopital_public"><i class="icon-niv1_hopitaux"></i></a></span></li>
                </ul>
            </nav>


        </script>

        <script type="text/template" id="menu_niveau3_template">

            <div class="thirdLevel">
                <ul>
                    <li><span title="Médecins généralistes" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>generaliste<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="<%= prefixe %>medecin"><i class="icon-niv3_medecin"></i></a></span></li>
                    <li><span title="Gynécologues" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>gynecologue<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="<%= prefixe %>gyneco"><i class="icon-niv3_gyneco"></i></a></span></li>
                    <li><span title="Dentistes" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>dentiste<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="<%= prefixe %>dentiste"><i class="icon-niv3_dentiste"></i></a></span></li>
                    <li><span title="Ophtalmologues" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>ophtalmologue<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="<%= prefixe %>ophtalmo"><i class="icon-niv3_ophtalmo"></i></a></span></li>
                    <li><span title="Infirmiers" class="right"><a href="#/filtre/<%= prefiltre == null ? "" : prefiltre+"_" %>infirmier<%= dept == null ? "" : "/dept_"+dept %>" data-info-json="<%= prefixe %>infirmier"><i class="icon-niv3_infirmier"></i></a></span></li>
                </ul>
            </div>

        </script>

        <div id="menu">
            <div></div>
            <div></div>
        </div>       




        <section id="leftSide">
            <div class="content">
                <h2 class="text-center">Nombre de médecins généraliste</h2>
                <div id="map"></div>
                <div id="info-dep"></div>
            </div>
        </section>

        <section id="rightSide">
            <div class="tutoDepartement">

                <i class="icon-loupe"></i>
                <h4>Choisissez un département</h4>
    
            </div>

            <div class="content">
                <h2 class="dept text-center">
                    Saône et Loire
                </h2>
                <div id="chiffreDept" class="col2 text-center">
                    <h3>Département</h3>
                    <p>523</p>
                </div>
                <div id="chiffreFrance" class="col2 text-center">
                    <h3>Moyenne Française</h3>
                    <p>1026</p>
                </div>
                <div id="infoFiltre">
                    <div class="tooltipCSS">
                        <i class="icon-info"></i>
                        <div>
                            <h5>Provenance des datas</h5>
                            <p><span>Source : </span><a href="" title="" target="_blank"></a></p>
                            <p><span>Année : </span><span></span></p>
                        </div>

                    </div>
                </div>
                <div id="infoGraph">
                    <p>Evolution du nombre de médecins</p>
                    <div class="tooltipCSS">
                        <i class="icon-info"></i>
                        <div>
                            <h5>Provenance des datas</h5>
                            <p><span>Source : </span><a href="" title="" target="_blank"></a></p>
                            <p><span>Année : </span><span></span></p>
                        </div>

                    </div>
                    
                </div>

                <footer>
                    <a href="#">Dictionnaire</a>
                    <a href="#">Crédits</a>
                    <a href="#">?</a>
                </footer>
            </div>
        </section>
    </div>


        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src='js/vendor/jquery.tooltip.js'></script> 
        <script src='js/vendor/jquery.countTo.js'></script> 
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/d3.js"></script>
        <script src="js/particles.js"></script>

        <script src="js/app.js"></script>


        <script src="//localhost:35729/livereload.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-51415785-1', 'theplacetoubib.fr');ga('send','pageview');
        </script>
    </body>
</html>
